@import "../../../../sass/global";

.delete-account-container {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 40vh;

  input,
  select {
    height: 2rem;
    width: 60%;
  }
  h2 {
    color: $color-grey-dark;
    font-size: $font-size-s;
  }
  h3 {
    margin: 0;
  }

  button {
    background-color: brown;
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }

    &:active {
      filter: brightness(80%);
    }
  }
}

@media screen and (max-width: 700px) {
  .delete-account-container {
    width: 90%;
    margin: auto;
    margin-top: 7rem;

    h2 {
      font-size: $font-size-l;
    }
    h3 {
      font-size: 2rem;
    }

    button {
      background-color: brown;
      position: fixed;
      bottom: 2.2rem;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
