@import "../../../sass/global";

.add-form-container {
  box-shadow: -1px 2px 5px 3px rgba(0, 0, 0, 0.25);
  background-color: $color-primary-c-light;
  border-radius: 12px;
  padding: 0.5rem;
  flex-grow: 0.6;

  &__content {
    display: flex;
    flex-direction: column;

    h2 {
      align-self: center;
      margin-bottom: 2rem;
    }

    &--text-fields {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 1rem;

      input {
      }
    }

    &--submit-btn {
      background-color: $color-primary;
      margin-top: 2rem;
      width: 8rem;
      align-self: center;
      &:hover {
        cursor: pointer;
        filter: brightness(105%);
      }
      &:active {
        filter: brightness(95%);
      }
    }
  }
}
