$font-size-xxl: 42px;
$font-size-xl: 36px;
$font-size-l: 28px;
$font-size-ml: 22px;
$font-size-m: 18px;
$font-size-s: 14px;

$boldness-thin: 200;
$boldness-mid: 400;
$boldness-thick: 600;
$boldness-thicker: 800;

$color-primary-lightest: #f3f0ff;
$color-primary-lighter: #9775fa;
$color-primary-light: #9775fa;
$color-primary: #845ef7;
$color-primary-dark: #7048e8;
$color-primary-darkest: #5f3dc4;

$color-primary-c-light: #00c2a5;
$color-primary-c: #009872;
$color-primary-c-dark: #006142;

$color-grey-white: #f8f9fa;
$color-grey-lighter: #e9ecef;
$color-grey-light: #ced4da;
$color-grey: #adb5bd;
$color-grey-dark: #495057;
$color-grey-darker: #343a40;
$color-grey-black: #212529;

$page-space-lr: 10rem;

$margin-nav-fit: 5rem;

$transition-fast: 0.5s;
