@import "../../../sass/global";

.spinning-icon {
  border-radius: 100px;
  border: 2px solid;
  padding: 0.8rem;
  font-size: 26px;

  &:hover {
    cursor: pointer;
    filter: brightness(115%);
  }
}

.animate-l {
  -webkit-animation: rotate 0.7s ease;
  animation: rotate 0.7s ease;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

.white {
  color: white;
}

@media screen and (max-width: 1030px) {
  .spinning-icon {
    padding: 0.4rem;
    font-size: 28px;
  }
}
