@import "../../sass/global.scss";

.register {
  display: flex;
  width: 100%;

  &__left {
    width: 60vw;
    background-color: $color-grey-white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 0rem;
    padding-top: 5rem;
    align-items: center;

    h1 {
      font-size: 42px;
      color: $color-primary-light;
      letter-spacing: 1.2px;
      font-weight: 700;
    }
    h3 {
      font-weight: 500;
    }
    &--google {
      display: flex;
      align-items: center;

      &__icon {
        font-size: 1.4rem;
        color: $color-grey-white;
        background-color: $color-grey-black;
        padding: 0.6rem;
        border-radius: 2rem;
        z-index: 1;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
      }

      span {
        font-size: 14px;
        background-color: $color-primary-c;
        padding: 0.4rem 0.6rem 0.4rem 3rem;
        border-radius: 1rem;
        margin-left: -2.5rem;
        color: white;
        font-weight: 400;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__right {
    z-index: 2;
    width: 40vw;
    background-color: $color-primary-light;
    // background: linear-gradient(90deg, $color-primary-light 0%, $color-primary 100%);
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;

    h1 {
      font-size: 42px;
      color: $color-grey-white;
      letter-spacing: 1.5px;
    }
    h5 {
      color: $color-grey-white;
      width: 22rem;
      font-size: 22px;
      font-weight: 600;
    }
    button {
      margin-top: 2rem;
      font-weight: 400;
      width: 10rem;
      height: 3rem;
      border-radius: 2rem;
      background-color: transparent;
      border: 1px solid white;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);

      &:hover {
        cursor: pointer;
        color: $color-primary-light;
        background-color: white;
        border: 1px solid transparent;
        transition: 0.2s ease-in;
      }
    }
  }
}

.unmountWR {
  transition: 1.5s;
  transform: translateX(40vw);
}

.unmountCL {
  transition: 1.5s;
  transform: translateX(-60vw);
}

.unmountWL {
  transition: 1.5s;
  transform: translateX(0);
}

.unmountCR {
  transition: 1.5s;
  transform: translateX(0);
}

.anim {
  -webkit-animation: rotate 0.7s ease;
  animation: rotate 0.7s ease;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
