@import "../../../sass/global";
.notification {
  position: fixed;
  bottom: 0;
  left: 0%;
  width: 30vw;
  font-size: 16px;
  color: $color-grey-darker;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 0 0.4rem 0 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: -0.1rem;
  padding: 0.2rem 1rem;
  z-index: 4;
  animation: 6s alternate slidein;

  border: $color-primary-lighter 1px solid;
}

.error {
  border-right: rgb(150, 25, 25) 4px solid;
}

.success {
  border-right: rgb(31, 150, 25) 4px solid;
}

.message-icon {
  font-size: 22px;
}

@keyframes slidein {
  0% {
    bottom: -10rem;
  }
  10%,
  70% {
    bottom: 0;
  }
  70% {
  }
  100% {
    bottom: -10rem;
  }
}
