@import "../../sass/global";

.profile-container {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 5fr;

  &__basic-info {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 10rem;
    align-items: flex-start;
    justify-content: center;

    img {
      width: 6.5rem;
      align-self: center;
      border-radius: 12rem;
      border: 0.05em solid black;
    }
    h3 {
      font-size: $font-size-ml;
      color: white;
      align-self: center;
    }
  }
  &__list {
    width: 100%;
    height: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.3rem 0 0 0;
    border-top: 1px solid $color-primary-c;
    background-color: $color-primary-c-dark;
    margin: -0.3rem 0 0 0;

    li {
      font-weight: 700;
      font-size: 20px;
      padding: 0.5rem 1.5rem;
      color: white;

      &:hover {
        cursor: pointer;
        color: black;
        background-color: $color-primary-c-dark;
        transition: 0.3s ease-in-out;
      }
    }
  }

  &__title {
    margin: 2.5rem 5rem;
    padding-bottom: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid $color-grey-dark;

    h2 {
      font-size: $font-size-l;
      letter-spacing: 0.5px;
      font-weight: $boldness-thicker;
      padding: 0;
    }
    h4 {
      margin-top: -0.5rem;
      padding: 0;
      color: $color-grey-dark;
    }
  }

  &__active {
    border-left: 10px solid $color-primary-light;
    // border-top: 2px solid $color-primary;
    transition: 0.3s ease-in-out;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }

  &__page {
    height: 100%;
  }
}

.left {
  width: 17vw;
}
.right {
  width: 83vw;
}

@media screen and (max-width: 1030px) {
  .left {
    width: 25vw;
  }
  .right {
    width: 75vw;
  }

  .profile-container {
    &__basic-info {
      img {
        width: 5.5rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .left {
    width: auto;
  }
  .right {
    width: auto;
  }

  .profile-container {
    flex-direction: column;

    &__basic-info {
      height: 1rem;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;

      img {
        width: 3.5rem;
        margin-left: -1rem;
      }
    }

    &__title {
      display: none;
    }
    &__list {
      justify-content: space-between;
      min-height: 0vh;
      flex-direction: row;
      padding: 0;
      margin: -0.3rem 0 0 0;
    }

    &__active {
      border-left: 0px;
      border-bottom: 4px solid $color-primary;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
