@import "../../sass/global";

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: flex-end;

  &__middle {
    display: flex;
    justify-content: space-evenly;
    height: 45vh;
  }
}
