@import "../../../sass/global";

.basic-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 60%;
  margin: auto;

  input,
  select {
    height: 2rem;
    width: 60%;
  }
  textarea {
    width: 60%;
    height: 6rem;
  }
  h3 {
    margin-top: 0;
  }
  button {
    margin-top: 1rem;
    align-self: flex-end;
    background-color: $color-primary;
    padding: 0.4rem 0.6rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;

    img {
      width: 6rem;
      border: 0.05em black solid;
      border-radius: 12rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.activated {
  box-shadow: -1px 1px 4px 4px rgba(0, 0, 0, 0.3);
}
