@import "../../../../sass/global";

.statistics {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 10rem;

  &__no-habit {
    margin-top: 8rem;
    align-self: center;
    margin-left: 10rem;
  }
}

@media screen and (max-width: 1030px) {
  .statistics {
    padding-top: 0.3rem;
    padding-right: 2rem;

    &__no-habit {
      margin-top: 8rem;
      align-self: center;
      margin-left: 1rem;
    }
  }
}
