@import "../../../../sass/global";

.row-container {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  min-height: 1.2rem;
  &__habit-name {
    width: 150px;
    padding: 0.2rem 0px;
  }

  &__icon-wrapper {
    width: 30px;
  }
  &__icon {
    display: flex;
    align-items: flex-end;
    background-color: $color-primary-c;
    color: white;
    transform: translateX(40%);
    padding: 0.5rem 1rem;
    margin-right: -1.3rem;
    transition: 0.2s ease-in;

    &:hover {
      cursor: pointer;
      transform: translateX(-25%);
      transition: 0.2s ease-in;
    }

    &--del {
      transform: translateX(-50%);
    }
  }

  &--week {
    display: flex;
    justify-items: center;

    &__habit-checkbox input[type="checkbox"]:hover + label::before {
      cursor: pointer;
      background-color: $color-primary-lightest;
    }

    &__habit-checkbox input[type="checkbox"]:focus + label::before {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    &__habit-checkbox input[type="checkbox"]:checked + label::before {
      background-color: $color-grey-white;
      content: "\2713";
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-primary;
    }

    input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
    }
    label {
      cursor: pointer;
      display: flex;
    }
    label::before {
      content: "";
      width: 1.2em;
      height: 1.2em;
      border: 0.07em solid black;
      border-radius: 2em;
    }
    label:hover::before {
      background-color: $color-primary-lightest;
    }
  }
}

.checkbox-wrapper {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 2200px) {
  .checkbox-wrapper {
    width: 190px;
  }
}
@media screen and (max-width: 1900px) {
  .checkbox-wrapper {
    width: 140px;
  }
}
@media screen and (max-width: 1700px) {
  .checkbox-wrapper {
    width: 120px;
  }
}
@media screen and (max-width: 1300px) {
  .checkbox-wrapper {
    width: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .row-container {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 2.5rem;

    &::-webkit-scrollbar {
      display: none;
    }

    &__icon-wrapper {
      width: 0;
    }
    &__icon {
      align-items: center;
      transform: translateX(-60%);
      padding: 0.5rem 1rem;
      margin-right: -1.3rem;
      transition: 0.2s ease-in;

      &:hover {
        cursor: pointer;
        transform: translateX(25%);
        transition: 0.2s ease-in;
      }

      &--del {
        transform: translateX(-50%);
      }
    }
  }
  .checkbox-wrapper {
    width: 120px;
  }
}

@media only screen and (orientation: landscape) {
  .row-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    height: fit-content;
  }
}

@media screen and (max-width: 1030px) {
  .checkbox-wrapper {
    width: 100px;
  }
}
@media screen and (max-width: 900px) {
  .checkbox-wrapper {
    width: 80px;
  }
}
@media screen and (max-width: 750px) {
  .checkbox-wrapper {
    width: 60px;
  }
}

@media screen and (max-width: 630px) {
  .row-container {
    display: flex;

    &__habit-name {
      width: 100px;
    }

    &__icon {
      display: flex;
      align-items: center;
      background-color: $color-primary-c;
      color: white;
      transform: translateX(40%);
      padding: 0.5rem 1rem;
      margin-right: -1.3rem;
      transition: 0.2s ease-in;
    }

    &--week {
      display: flex;
      justify-items: center;
    }
  }
  .checkbox-wrapper {
    width: 50px;
  }
}
@media screen and (max-width: 480px) {
  .checkbox-wrapper {
    width: 35px;
  }
}
@media screen and (max-width: 400px) {
  .checkbox-wrapper {
    width: 30px;
  }
}
