@import "../../../sass/global.scss";

.form-container {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;

    &--text-fields {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      margin-top: 2rem;
    }

    &--text-field {
      position: relative;
      input {
        width: 20rem;
        border-radius: 3rem;
        height: 2rem;
        border: solid 1px $color-grey-black;
        padding: 0.1rem 0.8rem;
      }

      &__error {
        color: $color-grey-black;
        position: absolute;
        font-size: 12px;
        left: 50%;
        top: 0.2rem;
        transform: translateX(-10%);
      }
    }

    &--submit-btn {
      font-weight: 400;
      width: 10rem;
      height: 3rem;
      border-radius: 2rem;
      background-color: $color-primary-light;
      border: 1px solid white;

      &:hover {
        cursor: pointer;
        color: $color-primary-light;
        background-color: white;
        border: 1px solid;
        transition: 0.2s ease-in;
      }
    }
  }
}
