@import "../../sass/global";

.header-container {
  z-index: 4;
  background-color: $color-grey-black;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-left: 1rem;
    height: 2.5rem;
  }
}

.desktop-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.2rem 1rem;

  &__profile-icon {
    font-size: 24px;
    margin-bottom: -0.35rem;
  }

  &__a {
    color: $color-grey-white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      color: $color-primary-light;
    }
  }
}
.colored {
  &__a {
    color: $color-grey-white;
  }

  &__logout {
    font-size: 24px;
    color: $color-grey-white;

    &:hover {
      cursor: pointer;
      color: $color-primary-light;
    }
  }
}

.transparent {
  &__a {
    color: $color-grey-darker;
  }
  &__logout {
    font-size: 24px;
    color: $color-grey-darker;

    &:hover {
      cursor: pointer;
      color: $color-primary-light;
    }
  }
}

.navActiv {
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  color: $color-primary-light;
}

.trans {
  background-color: transparent;
  width: 50%;
  transform: translateX(100%);
}
