@import "../../sass/global";

.header-container {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;

  &__logout {
    color: $color-primary;
    font-size: 32px;

    &:hover {
      cursor: pointer;
      filter: brightness(115%);
    }
  }

  a {
    text-decoration: none;
    color: $color-primary;
  }
}

.white {
  color: white;
}
@media screen and (max-width: 1200px) {
  .header-container {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 700px) {
  .header-container {
    position: static;
    align-self: center;
    align-items: center;
    gap: 0.8rem;
    transform: translateX(30%);
    flex-direction: row-reverse;
    a {
      color: white;
    }

    &__logout {
      color: white;
      font-size: 32px;
    }
  }
}
