@import "../../../sass/global";

.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7rem;
  background: $color-primary-gradient;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 0.5rem;
  color: white;

  h1 {
    margin-bottom: 3rem;
  }

  &__buttons {
    display: flex;
    align-self: flex-end;
    gap: 5rem;
    button {
      margin-top: 2rem;
      align-self: flex-end;
      background-color: $color-grey-white;
      color: $color-grey-black;
      padding: 0.5rem 1rem;

      &:hover {
        cursor: pointer;
        filter: brightness(105%);
      }
      &:active {
        filter: brightness(95%);
      }
    }
  }
}
.dash-container {
  background-color: $color-grey-white;
  width: 100%;
  display: grid;
  column-gap: 3rem;
  row-gap: 2rem;
  justify-items: start;
  grid-template-columns: 4fr repeat(7, 1fr) 0.5fr;
  padding: 1em;
  padding-bottom: 2rem;
  border-radius: 12px;
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $color-grey-black;

  &::-webkit-scrollbar {
    display: none;
  }

  &__habit-name-c {
    font-size: 20px;
    font-weight: 700;
  }

  &__week-day-name {
    justify-self: center;
    position: sticky;
  }
}
